# Esercizio

## Assunzioni
La "STEM Bank" ha 5 clienti:
- Mario.
- Alessia.
- Anita.
- Csaba.
- Ron.

La banca offre due tipi di conti correnti:
- Base: gratuito.
- Premium: costo 4 € al mese.

La banca offre anche l'attivazione di servizio di scoperto.
La copertura massima dello scoperto è:
- 3000 € per i conti Base.
- 12000 € per i conti Premium.

Il costo dello scoperto è pari a:
- 1 € fino a 1500 €.
- 3.5 € fino a 3000 €.
- 6 € fino a 5000 €.
- 6 € + 0.05% della somma eccedente i 5000 € per gli importi sopra i 5000 €.

Di seguito è presente una tabella in cui sono mostrate sinteticamente le info descritte in precedenza.

|                      | Mario    | Alessia  | Anita    | Csaba    | Ron      |
|:---------------------|---------:|---------:|---------:|---------:|---------:|
| *Tipo Conto Corrente*       | Base    | Premium  | Base    | Base    | Base    |
| *Servizio Scoperto*      | Yes      | Yes      |  No      | Yes      |  Yes     |
| *Saldo al 01/01/23*| 1020.01  | 120.91   | -32.12   | 1020.01  |    0     |

## Commenti, Variabili e Costanti
1. Assegnare il nome della banca che offre il conto alla variabile `bank_name`. Stampare un messaggio di benvenuto usando le f-string.

Welcome to STEM Bank

2. Assegnare la commissione mensile del conto corrente alla variabile `premium_account_fee_monthly`.

3. Verificare attraverso gli operatori di confronto che la commissione annuale sia pari a 48 €. Stampare un messaggio esplicativo.

I conti tornano!

## Collezioni
1. Definire un dizionario `customer_account_type` le cui chiavi sono i clienti e i valori contenengono la tipologia di conto corrente.

2. Definire un dizionario `customer_has_overdraft` le cui chiavi sono i clienti e i valori (Bool) contenengono `True` se il prodotto `Overdraft` è attivo e `False` se non è attivo, sfruttando il fatto che le chiavi di questo dizionario devono essere le stesse di quelle del dizionario precedente.

3. Definire un dizionario `customer_balance_last_year` le cui chiavi sono i clienti e i valori contenengono il saldo iniziale del conto del cliente.

4. Per ogni cliente generare una lista di 12 numeri float tra -300.00 e 300.00 dove l'elemento di posto i rappresenta il saldo delle transazioni effettuate nell'i+1-esimo mese dell'anno. Mettiamo le liste in un dizionario e poi stampiamolo. Per eseguire questo esercizio avremo bisogno della funzione `randint` dal modulo `random`. Andiamo a leggerne la documentazione [qui](https://docs.python.org/3/library/random.html#random.randint) per capire come funziona.

Transazioni di Mario: [-229.52, 28.79, 229.52, -135.94, -143.96, -207.25, 114.31, 227.62, 249.18, -105.42, -170.89, 2.2]
Transazioni di Alessia: [-61.75, 146.75, -123.8, -127.97, -139.79, -157.85, 42.13, 117.51, -129.33, 84.43, 64.92, -274.23]
Transazioni di Anita: [157.82, -13.99, 284.35, 248.2, -73.06, -143.44, -105.18, -64.47, 187.54, 294.34, -291.93, -128.14]
Transazioni di Csaba: [131.79, 70.71, 254.95, -53.13, -104.36, -160.56, -230.94, 289.48, 111.87, -132.76, -159.42, -155.38]
Transazioni di Ron: [109.09, -216.74, 135.72, -108.91, -71.61, -93.41, 24.56, -164.42, -84.11, 261.95, -264.37, -38.2]






{'Mario': [-229.52, 28.79, 229.52, -135.94, -143.96, -207.25, 114.31, 227.62, 249.18, -105.42, -170.89, 2.2], 'Alessia': [-61.75, 146.75, -123.8, -127.97, -139.79, -157.85, 42.13, 117.51, -129.33, 84.43, 64.92, -274.23], 'Anita': [157.82, -13.99, 284.35, 248.2, -73.06, -143.44, -105.18, -64.47, 187.54, 294.34, -291.93, -128.14], 'Csaba': [131.79, 70.71, 254.95, -53.13, -104.36, -160.56, -230.94, 289.48, 111.87, -132.76, -159.42, -155.38], 'Ron': [109.09, -216.74, 135.72, -108.91, -71.61, -93.41, 24.56, -164.42, -84.11, 261.95, -264.37, -38.2]}

{'Alessia': [45.95,
             -260.06,
             -282.88,
             -271.79,
             -130.1,
             -280.61,
             17.14,
             38.52,
             -192.26,
             160.28,
             6.66,
             116.82],
 'Anita': [-34.72,
           197.36,
           -202.11,
           -64.89,
           -271.3,
           39.32,
           63.45,
           -268.14,
           79.61,
           86.52,
           -188.68,
           225.6],
 'Csaba': [63.36,
           -267.83,
           -225.0,
           186.03,
           -109.94,
           -116.72,
           133.34,
           79.13,
           0.73,
           39.95,
           -0.86,
           -47.28],
 'Mario': [221.96,
           -238.07,
           -202.96,
           291.4,
           128.14,
           41.97,
           235.32,
           -96.01,
           272.51,
           199.01,
           97.08,
           -256.51],
 'Ron': [130.54,
         -157.93,
         -244.5,
         220.69,
         -233.84,
         -191.2,
         152.82,
         -45.79,
         -245.93,
         -266.13,
         204.23,
         -24.15]}

{'Alessia': [40.58,
             -293.12,
             -190.02,
             -215.15,
             -80.47,
             59.37,
             273.64,
             -269.07,
             -294.81,
             -88.03,
             298.63,
             192.28],
 'Anita': [-29.96,
           247.48,
           265.02,
           263.27,
           117.51,
           -169.77,
           134.11,
           109.42,
           251.74,
           66.1,
           195.11,
           91.51],
 'Csaba': [264.41,
           -176.32,
           191.23,
           50.53,
           103.52,
           -161.26,
           23.14,
           -168.76,
           53.99,
           -145.65,
           173.88,
           21.26],
 'Mario': [184.48,
           234.39,
           -99.91,
           178.31,
           269.02,
           -294.66,
           -266.02,
           267.77,
           -27.44,
           199.52,
           195.41,
           -18.55],
 'Ron': [211.15,
         282.63,
         -238.74,
         254.95,
         284.13,
         -113.89,
         174.35,
         230.5,
         -116.88,
         -129.05,
         -235.9,
         -86.32]}

## Control Flow
1. Verificare se nel mese di Gennaio Mario ha effettuato delle transazioni. nel caso in cui l'esito sia positivo stampare il seguente messaggio "Mario ha effettuato spese a Gennaio" altrimento stampare il seguente messaggio "Mario non ha effettuato spese a Gennaio"

Mario ha effettuato spese a Gennaio

2. Verificare se la somma delle transazioni di Alessia siano negative

La somma delle transazioni di Alessia è negativa
La somma delle transazioni di Alessia è negativa
La somma delle transazioni di Alessia è negativa
La somma delle transazioni di Alessia è negativa

3. Stampare tutte le transazioni di Mario usando la dicitura "Transazioni Mario <nome del mese>:<valore> €" (e.g. per il mese di Aprile "Transazioni Mario Aprile:3 €"). [hint](https://docs.python.org/3.3/library/functions.html#zip)

Transazioni Mario Gennaio: 184.48 €
Transazioni Mario Febbraio: 234.39 €
Transazioni Mario Marzo: -99.91 €
Transazioni Mario Aprile: 178.31 €
Transazioni Mario Maggio: 269.02 €
Transazioni Mario Giugno: -294.66 €
Transazioni Mario Luglio: -266.02 €
Transazioni Mario Agosto: 267.77 €
Transazioni Mario Settembre: -27.44 €
Transazioni Mario Ottobre: 199.52 €
Transazioni Mario Novembre: 195.41 €
Transazioni Mario Dicembre: -18.55 €

Transazioni Mario Gennaio: 184.48 €
Transazioni Mario Febbraio: 234.39 €
Transazioni Mario Marzo: -99.91 €
Transazioni Mario Aprile: 178.31 €
Transazioni Mario Maggio: 269.02 €
Transazioni Mario Giugno: -294.66 €
Transazioni Mario Luglio: -266.02 €
Transazioni Mario Agosto: 267.77 €
Transazioni Mario Settembre: -27.44 €
Transazioni Mario Ottobre: 199.52 €
Transazioni Mario Novembre: 195.41 €
Transazioni Mario Dicembre: -18.55 €

Transazioni Mario Gennaio: 184.48 €
Transazioni Mario Febbraio: 234.39 €
Transazioni Mario Marzo: -99.91 €
Transazioni Mario Aprile: 178.31 €
Transazioni Mario Maggio: 269.02 €
Transazioni Mario Giugno: -294.66 €
Transazioni Mario Luglio: -266.02 €
Transazioni Mario Agosto: 267.77 €
Transazioni Mario Settembre: -27.44 €
Transazioni Mario Ottobre: 199.52 €
Transazioni Mario Novembre: 195.41 €
Transazioni Mario Dicembre: -18.55 €

4. Ripetere quanto fatto con Mario anche con Alessia, ma stavolta stampando "Mese con saldo negativo" se l'importo è negativo.

Transazioni Alessia Gennaio: 40.58 €
Mese negativo
Mese negativo
Mese negativo
Mese negativo
Transazioni Alessia Giugno: 59.37 €
Transazioni Alessia Luglio: 273.64 €
Mese negativo
Mese negativo
Mese negativo
Transazioni Alessia Novembre: 298.63 €
Transazioni Alessia Dicembre: 192.28 €

## Funzioni

1. Definire una funzione `get_transaction_sign` che restituisca il valore `True` se la transazione ha segno negativo e `False` se ha segno positivo.

2. Definire una funzione `get_transaction_sum` che riceva in input la lista delle transazioni e fornisca in output la somma delle transazioni. Verificare il risultato della funzione usando la lista delle transazioni di Alessia e confrontandolo con l'esercizio della sezione control flow.

3. Definire una funzione `get_overdraft_monthly_fees` che, dato un importo di scoperto, restituisca la commissione da pagare per quel dato mese.

## Classi

1. Finora abbiamo considerato le varie caratteristiche del cliente in maniera separata. Ora creiamo una classe `Customer` che contenga tutte le informazioni pertinenti ad un dato cliente. La classe dovrà avere quindi gli attributi: `account_type` ("Base" o "Premium"), `has_overdraft_service`(`True` o `False`) ed il bilancio (un numero float) ed ovviamente un attributo `name` contente il nome del cliente. Dovremo poter inizializzare la classe per Mario così:

    ```python
    mario = Customer("Mario", "Base", True, 1020.01)
    ```

2. Ridefiniamo la classe aggiungendo un metodo `get_fees`` che restituisca il costo del conto del cliente. Stampiamo il messaggio "Commissioni mensili Mario (conto: <tipo di conto>): <importo>".

0.0

3. Aggiungiamo un metodo `upgrade`che modifica il tipo di conto facendolo passare a Premium. Cambiamo il tipo di conto di Mario e invochiamo nuovamente il metodo `get_fees`.

Commissioni mensili Mario (conto: Base): 0
Commissioni mensili Mario (conto: Premium): 4.0

## Esercizio Finale
Completiamo il puzzle
1. Calcolare il saldo al 31/12/23 per ciascun cliente `outstanding_eoy_customer`.

{'Alessia': -445.2600000000001,
 'Anita': 1573.6599999999999,
 'Csaba': 1249.98,
 'Mario': 1842.33,
 'Ron': 516.93}

2. Mostrare a video i nomi dei clienti che hanno utilizzato il servizio di scoperto e i mesi in cui lo hanno fatto.

Analisi del cliente Mario
Analisi del mese Gennaio per il cliente Mario.
Analisi del mese Febbraio per il cliente Mario.
Analisi del mese Marzo per il cliente Mario.
Analisi del mese Aprile per il cliente Mario.
Analisi del mese Maggio per il cliente Mario.
Analisi del mese Giugno per il cliente Mario.
Analisi del mese Luglio per il cliente Mario.
Analisi del mese Agosto per il cliente Mario.
Analisi del mese Settembre per il cliente Mario.
Analisi del mese Ottobre per il cliente Mario.
Analisi del mese Novembre per il cliente Mario.
Analisi del mese Dicembre per il cliente Mario.
Analisi del cliente Alessia
Analisi del mese Gennaio per il cliente Alessia.
Analisi del mese Febbraio per il cliente Alessia.
Il cliente Alessia ha un saldo di -131.63 nel mese di Febbraio.
Analisi del mese Marzo per il cliente Alessia.
Il cliente Alessia ha un saldo di -321.65 nel mese di Marzo.
Analisi del mese Aprile per il cliente Alessia.
Il cliente Alessia ha un saldo di -536.8 nel mese di Aprile.
Analisi del mese Maggio per il cliente Alessia.
Il cliente Alessia ha un saldo di -617.27 nel mese di Maggio.
Analisi del mese Giugno per il cliente Alessia.
Il cliente Alessia ha un saldo di -557.9 nel mese di Giugno.
Analisi del mese Luglio per il cliente Alessia.
Il cliente Alessia ha un saldo di -284.26 nel mese di Luglio.
Analisi del mese Agosto per il cliente Alessia.
Il cliente Alessia ha un saldo di -553.3299999999999 nel mese di Agosto.
Analisi del mese Settembre per il cliente Alessia.
Il cliente Alessia ha un saldo di -848.1399999999999 nel mese di Settembre.
Analisi del mese Ottobre per il cliente Alessia.
Il cliente Alessia ha un saldo di -936.1699999999998 nel mese di Ottobre.
Analisi del mese Novembre per il cliente Alessia.
Il cliente Alessia ha un saldo di -637.5399999999998 nel mese di Novembre.
Analisi del mese Dicembre per il cliente Alessia.
Il cliente Alessia ha un saldo di -445.2599999999999 nel mese di Dicembre.
Analisi del cliente Anita
Il cliente Anita non ha attivo il servizio di scoperto.
Analisi del cliente Csaba
Analisi del mese Gennaio per il cliente Csaba.
Analisi del mese Febbraio per il cliente Csaba.
Analisi del mese Marzo per il cliente Csaba.
Analisi del mese Aprile per il cliente Csaba.
Analisi del mese Maggio per il cliente Csaba.
Analisi del mese Giugno per il cliente Csaba.
Analisi del mese Luglio per il cliente Csaba.
Analisi del mese Agosto per il cliente Csaba.
Analisi del mese Settembre per il cliente Csaba.
Analisi del mese Ottobre per il cliente Csaba.
Analisi del mese Novembre per il cliente Csaba.
Analisi del mese Dicembre per il cliente Csaba.
Analisi del cliente Ron
Analisi del mese Gennaio per il cliente Ron.
Analisi del mese Febbraio per il cliente Ron.
Analisi del mese Marzo per il cliente Ron.
Analisi del mese Aprile per il cliente Ron.
Analisi del mese Maggio per il cliente Ron.
Analisi del mese Giugno per il cliente Ron.
Analisi del mese Luglio per il cliente Ron.
Analisi del mese Agosto per il cliente Ron.
Analisi del mese Settembre per il cliente Ron.
Analisi del mese Ottobre per il cliente Ron.
Analisi del mese Novembre per il cliente Ron.
Analisi del mese Dicembre per il cliente Ron.
{'Alessia': ['Febbraio',
             'Marzo',
             'Aprile',
             'Maggio',
             'Giugno',
             'Luglio',
             'Agosto',
             'Settembre',
             'Ottobre',
             'Novembre',
             'Dicembre'],
 'Anita': [],
 'Csaba': [],
 'Mario': [],
 'Ron': []}
{'Alessia': ['Febbraio',
             'Marzo',
             'Aprile',
             'Maggio',
             'Giugno',
             'Luglio',
             'Agosto',
             'Settembre',
             'Ottobre',
             'Novembre',
             'Dicembre'],
 'Anita': [],
 'Csaba': [],
 'Mario': [],
 'Ron': []}

3. Calcolare i ricavi totali per cliente `tot_rev_on_customer` come la somma di tutte le commissioni applicate per il conto e per gli scoperti.

{'Alessia': 11, 'Anita': None, 'Csaba': 0, 'Mario': 0, 'Ron': 0}

4. Calcolare i ricavi complessivi della banca `tot_rev_bank`.

Ricavi totali: 11