# Esercizio

## Assunzioni
La "STEM Bank" ha 5 clienti:
- Mario.
- Alessia.
- Anita.
- Csaba.
- Ron.

La banca offre due tipi di conti correnti:
- Base: gratuito.
- Premium: costo 4 € al mese.

La banca offre anche l'attivazione di servizio di scoperto.
La copertura massima dello scoperto è:
- 3000 € per i conti Base.
- 12000 € per i conti Premium.

Il costo dello scoperto è pari a:
- 1 € fino a 1500 €.
- 3.5 € fino a 3000 €.
- 6 € fino a 5000 €.
- 6 € + 0.05% della somma eccedente i 5000 € per gli importi sopra i 5000 €.

Di seguito è presente una tabella in cui sono mostrate sinteticamente le info descritte in precedenza e gli incassi (+) e pagamenti (-) effettuati da ciascun cliente durante l'anno.

|                      | Mario    | Alessia  | Anita    | Csaba    | Ron      |
|:---------------------|---------:|---------:|---------:|---------:|---------:|
| *Tipo Conto Corrente*       | Base    | Premium  | Base    | Base    | Base    |
| *Servizio Scoperto*      | Yes      | Yes      |  No      | Yes      |  Yes     |
| *Saldo al 01/01/23*| 1020.01  | 120.91   | -32.12   | 1020.01  |    0     |
| *Gennaio*            | + 15     |   0      | + 15.30  |    0     |    0     |
| *Febbraio*           |    0     | + 1      |    0     |   1      |    0     |
| *Marzo*              | + 10     |-120      | + 10.12  | - 120    |    0     |
| *Aprile*              |    0     | + 3      |    0     |    0     |    0     |
| *Maggio*                |    0     |    0     |    0     |    0     |    0     |
| *Giugno*               | - 12     |    0     |    0     |    0     |    0     |
| *Luglio*               |    0     |    0     |    0     |    0     | -230.00  |
| *Agosto*             |    0     |    0     |    0     |    0     |    0     |
| *Settembre*          |    0     |    0     |    0     |    0     |    0     |
| *Ottobre*            | - 54     |    0     | -54.21   |    0     |    0     |
| *Novembre*           |    0     |    0     |    0     |    0     |    0     |
| *Dicembre*           | -102     | -5       | -3       |    0     |    -10000     |

## Commenti, Variabili e Costanti
1. Assegnare il nome della banca che offre il conto alla variabile `bank_name`. Stampare un messaggio di benvenuto usando le f-string.

Welcome to STEM Bank

2. Assegnare la commissione mensile del conto corrente alla variabile `premium_account_fee_monthly`.

3. Verificare attraverso gli operatori di confronto che la commissione annuale sia pari a 48 €. Stampare un messaggio esplicativo.

I conti tornano!

## Collezioni
1. Definire un dizionario `customer_account_type` le cui chiavi sono i clienti e i valori contenengono la tipologia di conto corrente.

2. Definire un dizionario `customer_has_overdraft` le cui chiavi sono i clienti e i valori (Bool) contenengono `True` se il prodotto `Overdraft` è attivo e `False` se non è attivo, sfruttando il fatto che le chiavi di questo dizionario devono essere le stesse di quelle del dizionario precedente.

3. Definire un dizionario `customer_balance_1y` le cui chiavi sono i clienti e i valori contenengono il saldo iniziale del conto del cliente.

4. Per ogni cliente generare una lista di 12 numeri float tra -1'000.00 e 1'000.00 dove l'elemento di posto i rappresenta il saldo delle transazioni effettuate nell'i+1-esimo mese dell'anno. Mettiamo le liste in un dizionario e poi stampiamolo. Per eseguire questo esercizio avremo bisogno della funzione `randint` dal modulo `random`. Andiamo a leggerne la documentazione [qui](https://docs.python.org/3/library/random.html#random.randint) per capire come funziona.

Transazioni di Mario: [-421.25, 745.9, 973.55, 531.63, 75.87, 176.36, 259.23, 476.32, -236.5, 627.68, -148.15, 190.61]
Transazioni di Alessia: [-102.39, 682.74, 569.29, 454.78, 425.75, 670.16, 377.63, 685.67, -519.01, -588.8, 472.06, -376.6]
Transazioni di Anita: [-909.32, -327.46, -955.23, -28.0, 570.94, -579.58, -907.37, 463.82, -884.4, -36.13, 442.25, 564.15]
Transazioni di Csaba: [-473.19, -603.22, -709.94, 91.29, -333.65, -392.82, -508.57, 366.83, -719.18, -470.39, -689.06, -757.81]
Transazioni di Ron: [190.17, -265.48, -838.06, 754.74, 607.53, 410.96, -631.51, 428.44, 80.41, -256.97, 689.3, 760.45]






{'Mario': [-421.25, 745.9, 973.55, 531.63, 75.87, 176.36, 259.23, 476.32, -236.5, 627.68, -148.15, 190.61], 'Alessia': [-102.39, 682.74, 569.29, 454.78, 425.75, 670.16, 377.63, 685.67, -519.01, -588.8, 472.06, -376.6], 'Anita': [-909.32, -327.46, -955.23, -28.0, 570.94, -579.58, -907.37, 463.82, -884.4, -36.13, 442.25, 564.15], 'Csaba': [-473.19, -603.22, -709.94, 91.29, -333.65, -392.82, -508.57, 366.83, -719.18, -470.39, -689.06, -757.81], 'Ron': [190.17, -265.48, -838.06, 754.74, 607.53, 410.96, -631.51, 428.44, 80.41, -256.97, 689.3, 760.45]}

{'Alessia': [249.53,
             -643.49,
             286.27,
             -735.3,
             -534.08,
             -855.18,
             33.18,
             883.6,
             395.3,
             515.54,
             -833.21,
             -674.27],
 'Anita': [-702.53,
           -9.25,
           953.72,
           463.7,
           413.27,
           -128.41,
           -627.02,
           -787.64,
           -451.36,
           345.74,
           739.67,
           543.53],
 'Csaba': [122.49,
           -728.36,
           -86.94,
           164.82,
           -321.3,
           -577.95,
           -114.06,
           -925.68,
           935.22,
           -56.07,
           411.8,
           96.77],
 'Mario': [770.59,
           -891.52,
           166.61,
           90.17,
           250.4,
           -658.62,
           -676.23,
           -265.12,
           607.89,
           968.22,
           -60.88,
           208.53],
 'Ron': [-408.37,
         -750.03,
         -943.28,
         -305.31,
         -725.04,
         301.15,
         -624.72,
         -98.04,
         721.6,
         -477.71,
         299.56,
         -575.71]}

{'Alessia': [-498.0,
             737.5,
             -26.34,
             820.95,
             654.52,
             787.26,
             714.67,
             -526.95,
             767.2,
             -433.41,
             105.68,
             -840.02],
 'Anita': [-282.25,
           -337.22,
           -336.92,
           -519.13,
           -865.21,
           -289.19,
           459.8,
           314.33,
           449.18,
           -289.79,
           -889.92,
           -340.18],
 'Csaba': [265.27,
           643.21,
           -686.8,
           -451.06,
           -521.67,
           -16.63,
           -596.76,
           -639.27,
           -304.13,
           -909.63,
           -808.7,
           913.65],
 'Mario': [-497.39,
           163.86,
           307.37,
           630.63,
           -349.62,
           -280.19,
           155.17,
           909.71,
           -341.69,
           -215.43,
           208.24,
           -285.28],
 'Ron': [925.39,
         -640.12,
         -639.63,
         571.39,
         -889.59,
         758.02,
         553.14,
         -601.75,
         -523.54,
         240.8,
         -242.78,
         -811.89]}


- Recuperare le chiavi dei dizionari precedentemente creati e inserirle all'interno delle seguenti liste: `cust_current_account_type_dict_key`, `cust_has_overdraft_dict_key`, `cust_first_of_year_balance_dict_key`, `cust_transactions_list_dict_key`.

## Control Flow
1. Verificare se nel mese di Gennaio Mario ha effettuato delle transazioni. nel caso in cui l'esito sia positivo stampare il seguente messaggio "Mario ha effettuato spese a Gennaio" altrimento stampare il seguente messaggio "Mario non ha effettuato spese a Gennaio"

Mario non ha effettuato spese a Gennaio

2. Verificare se la somma delle transazioni di Alessia siano negative

La somma delle transazioni di Alessia è positivia
La somma delle transazioni di Alessia è positiva
La somma delle transazioni di Alessia è positiva
La somma delle transazioni di Alessia è positiva

3. Stampare tutte le transazioni di Mario usando la dicitura "Transazioni Mario <nome del mese>:<valore> €" (e.g. per il mese di Aprile "Transazioni Mario Aprile:3 €"). [hint](https://docs.python.org/3.3/library/functions.html#zip)

Transazioni Mario Gennaio: -497.39 €
Transazioni Mario Febbraio: 163.86 €
Transazioni Mario Marzo: 307.37 €
Transazioni Mario Aprile: 630.63 €
Transazioni Mario Maggio: -349.62 €
Transazioni Mario Giugno: -280.19 €
Transazioni Mario Luglio: 155.17 €
Transazioni Mario Agosto: 909.71 €
Transazioni Mario Settembre: -341.69 €
Transazioni Mario Ottobre: -215.43 €
Transazioni Mario Novembre: 208.24 €
Transazioni Mario Dicembre: -285.28 €

Transazioni Mario Gennaio: -497.39 €
Transazioni Mario Febbraio: 163.86 €
Transazioni Mario Marzo: 307.37 €
Transazioni Mario Aprile: 630.63 €
Transazioni Mario Maggio: -349.62 €
Transazioni Mario Giugno: -280.19 €
Transazioni Mario Luglio: 155.17 €
Transazioni Mario Agosto: 909.71 €
Transazioni Mario Settembre: -341.69 €
Transazioni Mario Ottobre: -215.43 €
Transazioni Mario Novembre: 208.24 €
Transazioni Mario Dicembre: -285.28 €

Transazioni Mario Gennaio: -497.39 €
Transazioni Mario Febbraio: 163.86 €
Transazioni Mario Marzo: 307.37 €
Transazioni Mario Aprile: 630.63 €
Transazioni Mario Maggio: -349.62 €
Transazioni Mario Giugno: -280.19 €
Transazioni Mario Luglio: 155.17 €
Transazioni Mario Agosto: 909.71 €
Transazioni Mario Settembre: -341.69 €
Transazioni Mario Ottobre: -215.43 €
Transazioni Mario Novembre: 208.24 €
Transazioni Mario Dicembre: -285.28 €

4. Ripetere quanto fatto con Mario anche con Alessia, ma stavolta stampando "Mese con saldo negativo" se l'importo è negativo.

Mese negativo
Transazioni Alessia Febbraio: 737.5 €
Mese negativo
Transazioni Alessia Aprile: 820.95 €
Transazioni Alessia Maggio: 654.52 €
Transazioni Alessia Giugno: 787.26 €
Transazioni Alessia Luglio: 714.67 €
Mese negativo
Transazioni Alessia Settembre: 767.2 €
Mese negativo
Transazioni Alessia Novembre: 105.68 €
Mese negativo

## Funzioni

1. Definire una funzione `get_transaction_sign` che restituisca il valore `True` se la transazione ha segno negativo e `False` se ha segno positivo.

2. Definire una funzione `get_transaction_sum` che riceva in input la lista delle transazioni e fornisca in output la somma delle transazioni. Verificare il risultato della funzione usando la lista delle transazioni di Alessia e confrontandolo con l'esercizio della sezione control flow.

3. Definire una funzione `get_overdraft_monthly_fees` che, dato un importo di scoperto, restituisca la commissione da pagare per quel dato mese.

## Classi

1. Finora abbiamo considerato le varie caratteristiche del cliente in maniera separata. Ora creiamo una classe `Customer` che contenga tutte le informazioni pertinenti ad un dato cliente. La classe dovrà avere quindi gli attributi: `account_type` ("Base" o "Premium"), `has_overdraft_service`(`True` o `False`) ed il bilancio (un numero float) ed ovviamente un attributo `name` contente il nome del cliente. Dovremo poter inizializzare la classe per Mario così:

    ```python
    mario = Customer("Mario", "Base", True, 1020.01)
    ```

2. Ridefiniamo la classe aggiungendo un metodo `get_fees`` che restituisca il costo del conto del cliente. Stampiamo il messaggio "Commissioni mensili Mario (conto: <tipo di conto>): <importo>".

0.0

3. Aggiungiamo un metodo `upgrade`che modifica il tipo di conto facendolo passare a Premium. Cambiamo il tipo di conto di Mario e invochiamo nuovamente il metodo `get_fees`.

Commissioni mensili Mario (conto: Base): 0
Commissioni mensili Mario (conto: Premium): 4.0

## Esercizio Finale
Completiamo il puzzle
1. Calcolare il saldo al 31/12/23 per ciascun cliente `outstanding_eoy_customer`.

2. Mostrare a video i nomi dei clienti che hanno utilizzato il servizio di scoperto e i mesi in cui lo hanno fatto.

3. Calcolare i ricavi totali per cliente `tot_rev_on_customer` come la somma di tutte le commissioni applicate per il conto e per gli scoperti.

4. Calcolare i ricavi complessivi della banca `tot_rev_bank`.

5. Calcolare i ricavi totali per cliente rapportati al loro saldo al 31/12/23 `tot_rev_on_customer_over_eoy_outstanding`.